body {
  background-color: #000000;
  text-align: center;
  color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.top-container {
  background-color: #1c2b2d;
  color: #696969;
  margin: 0;

}

.middle-container {
  /* background-color: black; */
  margin: 0;
}
.nightModeButton_1{
  border-radius: 20px;
  /* padding: 1px 15px 1px 15px; */
  float: right;
  margin: 0;
  border: none;
  text-align: center;
  background: #333333;
  background-color: white;
  font-size: 18px;
  margin-bottom: 1%;
  position: relative;
  /* top: 50%;
  left: 4px; */
  /* bottom: 50%; */
  width: 40px;
  height: 40px;
  /* top: 1px;
  bottom: 10px; */
  text-decoration: none;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: 0;
  cursor: pointer;
}
.night-mode1{
  color: #333333;
  background-color: black;
}
.dark {
  /* font-size: 2rem; */
  /* background-color: white; */
  color: white;
  position: fixed;
  right: 1px;
  bottom: 2px;
}

.dark1 {
  background-color: white;
  color: black;
}
.logo{
  margin :2px;
  float: left;
}
.hello {
  font-size: 11rem;
  font-weight: normal;
  display: inline-block;
  position: relative;
  top: 50%;
  right: 2%;
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
  /* width: 100%; */
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}

hr {
  width: 3%;
  border: dotted #696969 4px;
  border-bottom: none;
  margin: 40px auto 40px auto;
}

a {
  /* color: white; */
  margin: 3px 10px 3px 10px;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

.container {
  padding: 0px 15px 0px 15px;
}

/*  */
header {

  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  /* margin-bottom: 0px; */
  padding: .1rem 0;
  background: rgba(0, 0, 0, 1.0);
  z-index: 3;
  color: white;
  will-change: transform;
  transition: background .3s,
    -webkit-transform .5s cubic-bezier(.694, .048, .335, 1);
  transition: transform .5s cubic-bezier(.694, .048, .335, 1), background .3s;
  transition: transform .5s cubic-bezier(.694, .048, .335, 1), background .3s,
    -webkit-transform .5s cubic-bezier(.694, .048, .335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.header1 {
  background: rgba(255, 255, 255,1.0);
  color: black;
}

#features {
  text-align: center;
  margin: 0;
  /* background-color: black; */
  position: relative;
  z-index: 1;
}

li {
  color: black;
}

h4 {
  font-size: 1.8rem;
  padding: 4%;
  width: 100%;
}

.easy {
  margin-top: 10px;
  margin-bottom: :10px;
  text-align: center;
}

.dropdown {
  margin-left: 25%;
  margin-right: 50%;
  text-align: center;
}
.first{
 
  padding-top: 20px;

}
.background {
  width: 100%;
  margin: 0px;
  position: relative;
  z-index: -1;
  background: url(../images/P2.jpeg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  /* color: #fff; */
  padding-top: 100px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.background_lite {
  background: url(../images/P2.jpg) no-repeat center center fixed;
}

.bottom-container {
  font-size: 2rem;
  /* background-color: black; */
  /* color:#e6d5b8; */
  margin: 0 0 0 0;
  padding-bottom: 27px;
}

.contact-me {
  /* background-color: black; */
}


.navbar-brand {

  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  /* color: black; */
  margin: 0;
  color: inherit;
  /* display: inline-block; */
  position: fixed;
  top: 13px;
  left: 17%;
}

.row {
  text-align: center;
  /* color: black; */
  margin: 0;
}

.first {
  margin: 4px;
}

h1 {
  /* font-family: 'Sacramento', cursive; */
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 2.5rem;
}

h2 {
  font-weight: normal;
  /* color: #696969; */
  line-height: 2;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 2rem;
}

.profile {
  display: inline-block;
  margin: 0;
  padding: 0%;
  font-size: 4.6rem;
}

.mypic {
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 100%;
}

.animated {
  float: left;
  width: 50%;
  margin-right: 90px;
}

.static {
  width: 60%;
  margin-left: auto;
}

.skills {
  display: inline-block;
  width: 70%;
  margin: 15px auto 15px auto;
}

h3 {
  color: #696969;
}

.footer-link {
  color: #696969;
}

p {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 4px;
  /* color: white; */
}

.skill-row {
  display: inline-block;
  /* background-color: black; */
  text-align: center;
  width: 100%;
  margin: 15px auto 15px auto;
}

.btn {
  color: #696969;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  html {
    margin: 0;
    padding: 0;
  }

  .background {
    width: 100%;
    background-size: auto;
    text-align: center;
    /* color: #fff; */
    padding-top: 110px;
    min-height: 350px;
  }

  h1 {
    margin: auto;
    font-size: 3rem;
    text-align: center;
    /* display: block; */
  }

  h2 {
    font-weight: normal;
    color: #696969;
    line-height: 2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 4px;
    /* color: white; */
  }

  .body {
    text-align: center;
  }

  .skill-row {
    text-align: center;
    margin-bottom: 20px;
  }

  .static {
    margin: auto;
    width: 100%;
  }

  .animated {
    margin: auto;
    width: 100%;
  }

  .dropdown {
    margin-left: 25%;
    margin-right: 50%;
    text-align: center;
  }
}
